// dashboard

.dashboard {
  margin-top: 5rem;
}

.dashboard-content {
  display: flex;
  padding: 2rem 0;
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0 0 3rem;
  }
}

.dashboard-content-column {
  border-radius: 2%;
}

.dashboard-content-add {
  margin-right: 1.5rem;
  padding: 2rem;
  background: $white;
  @media (max-width: 768px) {
    margin: 0 0 1rem;
  }
}

.dashboard-content-show {
  width: 100%;
}

//create post

.dashboard-content-user-info {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  border-bottom: 1px solid #e6ecf0;
  display: flex;
  align-items: center;
}

.dashboard-content-user-avatar {
  background-size: cover;
  background-position: center;
  width: 3.5rem;
  height: 3.5rem;
  box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.45);
  margin-right: 1rem;
  border-radius: 5px;
}

.dashboard-content-user-info-texts {
  text-align: left;
}

.dashboard-content-user-name {
  font-size: 0.95rem;
  margin-bottom: 0.15rem;
  text-transform: capitalize;
}

.dashboard-content-user-position {
  font-size: 0.7rem;
  margin-bottom: 0;
}

.create-post-textarea {
  margin: 1rem 0;
  padding: 0.75rem;
  font-size: 0.8rem;
  width: 100%;
  border: 1px solid #e6ecf0;
}

.create-post-button {
  font-size: 0.85rem;
}

// posts

.dashboard-posts {
  background: $white;
}

.dashboard-post {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  flex-direction: column;
  padding: 1rem 2rem;
  border-bottom: 1px solid $lightgray;
  background: rgba(0, 0, 0, 0.015);
  &:last-of-type {
    border-bottom: none;
  }
}

.dashboard-post-info {
  display: flex;
  align-items: center;
}

.dashboard-post-content {
  margin: 1rem 0;
  font-size: 0.9rem;
  cursor: pointer;
}

.dashboard-post-author {
  font-weight: 600;
  margin-right: 1rem;
  font-size: 0.7rem;
  margin-bottom: 0;
  text-transform: capitalize;
}

.dashboard-post-date {
  color: $dark;
  font-size: 0.7rem;
  margin-bottom: 0;
}

.dashboard-post-nav-items {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  color: $black;
  display: flex;
  font-size: 0.8rem;
}

.dashboard-post-nav-item {
  margin-right: 1.5rem;
  cursor: pointer;
  &:last-of-type {
    margin-right: 0;
  }
  a {
    display: flex;
    align-items: center;
  }
}

.dashboard-post-comment-icon {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.25rem;
  background-size: contain;
  background-image: url('../../../static/comment.svg');
}

.dashboard-post-like-icon {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.25rem;
  background-size: contain;
  background-image: url('../../../static/like.svg');
  &.liked {
    background-image: url('../../../static/like-color.svg');
  }
}

//full post

.full-post {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.50);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.full-post-container {
  position: fixed;
  background: $white;
  width: 70%;
  @media (max-width: 576px) {
    width: 90%;
  }
}

.full-post-close {
  position: absolute;
  right: -2.5rem;
  top: -2.5rem;
  color: $primary !important;
  font-weight: bold;
  font-size: 2rem;
  @media (max-width: 576px) {
    right: 0.5rem;
    top: 0;
  }
}

.full-post-content {
  .dashboard-post-content {
    cursor: auto;
  }
}

.full-post-comments {
  max-height: 20rem;
  overflow: auto;
}

.full-post-comment {
  padding: 1rem 2rem;
  border-bottom: 1px solid $lightgray;
  text-align: left;
  display: flex;
  &.author-comment {
    background: rgba(0, 0, 0, 0.02);
  }
}

.full-post-comment-avatar {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-position: center;
  margin-right: 0.6rem;
}

.full-post-comment-info {
  display: flex;
  align-items: center;
}

.full-post-comment-author {
  font-weight: 600;
  margin-right: 1rem;
  font-size: 0.6rem;
  margin-bottom: 0;
  text-transform: capitalize;
}

.full-post-comment-date {
  color: $dark;
  font-size: 0.6rem;
  margin-bottom: 0;
}

.full-post-comment-text {
  margin: 0.5rem 0 0;
  font-size: 0.8rem;
}

//add comment
.add-comment {
  background: $white;
}

.add-comment-form {
  display: flex;
  justify-content: space-between;
  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.add-comment-textarea {
  width: 80%;
  border-radius: 0;
  border: 0;
  border-top: 1px solid $gray;
  padding: 1rem;
  font-size: 0.7rem;
  @media (max-width: 576px) {
    width: 100%;
  }
}

.add-comment-button {
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  width: 20%;
  @media (max-width: 576px) {
    width: 100%;
    height: 4rem;
  }
}
