// login

.login {
  background: linear-gradient(to right, $primary 0%, $primary 50%, $white 50%, $white 100%);
  height: 100vh;
  @media screen and (max-width: 767px) {
    background: $white;
  }
}

.login-content {
  display: flex;
  height: 100%;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  button {
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
}

.login-content-column {
  width: 50%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  form {
    min-width: 80%;
  }
}

.login-content-column-left {
  color: $white;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.login-content-column-right {
  @media screen and (max-width: 767px) {
    height: 100vh;
  }
}

.login-content-logo {
  width: 10rem;
}

.login-title {
  margin-bottom: 1.5rem;
}

.login-button {
  margin: 1rem 0;
}

.facebook-login-button {
  background: #3b5998;
  margin-bottom: 0.5rem;
  &:hover {
    background: darken(#3b5998, 5%);
  }
}

.login-extras {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.login-extras-link {
  margin: 0 1rem;
}
