// navigation

.nav {
  background: $white;
  box-shadow: 0 0 5px 0 rgba($light, 0.5);
  padding: 0.75rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.nav-logo-link {
  @media (max-width: 576px) {
    display: none;
  }
}

.nav-logo {
  width: 7rem;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
  @media (max-width: 576px) {
    margin: 0 auto;
    padding: 0;
  }
}

.nav-list-item {
  margin-right: 1.5rem;
  color: $primary;
  &:last-of-type {
    margin-right: 0;
  }
  a:hover {
    text-decoration: none;
  }
}
