// settings

.settings {
  margin-top: 6rem;
}

.settings-header {
  margin-bottom: 2rem;
}

.settings-form {
  margin: 1rem auto;
}

.settings-form-content {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.settings-form-column {
  width: 50%;
  padding: 0 5%;
  margin: 2rem 0;
  &:first-of-type {
    border-right: 1px solid lightgray;
    @media screen and (max-width: 767px) {
      border-right: none;
    }
  }
  @media screen and (max-width: 767px) {
    width: 80%;
    margin: 0 auto 1rem;
    padding: 0;
  }
}

.settings-button {
  margin: 1rem 0;
}

.success {
  color: green;
}


//file upload

.file-select {
  width: 15rem;
  margin: 0 auto;
  text-align: center;
}

.file-select > input[type="file"] {
  display: none;
}

.preview {
  margin-top: 1rem;
}

.preview-image {
  background-size: cover;
  background-position: center;
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.45);
}
