<template>
    <div class="dashboard">
        <div class="container">
            <div class="dashboard-content">
                <div class="dashboard-content-column dashboard-content-add">
                    <div class="dashboard-content-user-info">
                        <div class="dashboard-content-user-avatar" :style="{ backgroundImage: `url('${userProfile.avatar? userProfile.avatar: avatarUrl}')` }"></div>
                        <div class="dashboard-content-user-info-texts">
                            <h5 class="dashboard-content-user-name">
                                {{ userProfile.name }}
                            </h5>
                            <h6 class="dashboard-content-user-position">
                                {{getUserTitle}}
                            </h6>
                        </div>
                    </div>
                    <div class="create-post">
                        <p class="create-post-title">
                            Create a post
                        </p>
                        <form @submit.prevent>
                            <textarea class="create-post-textarea" rows="8" v-model.trim="post.content" placeholder="Post content.."></textarea>
                            <button class="button create-post-button" @click="createPost" :disabled="post.content == ''">
                                Create
                            </button>
                        </form>
                    </div>
                </div>
                <div class="dashboard-content-column dashboard-content-show">
                    <transition name="fade">
                        <div v-if="hiddenPosts.length" @click="showNewPosts" class="hidden-posts">
                            <p>
                                Click to show <span class="new-posts">{{ hiddenPosts.length }}</span>
                                new <span v-if="hiddenPosts.length > 1">posts</span><span v-else>post</span>
                            </p>
                        </div>
                    </transition>
                    <div v-if="posts.length" class="dashboard-posts" >
                        <div v-for="post in posts" class="dashboard-post">
                            <div class="dashboard-post-info">
                                <p class="dashboard-post-author">
                                    {{ post.userName }}
                                </p>
                                <p class="dashboard-post-date">
                                    {{ post.createdOn | formatDate }}
                                </p>
                            </div>
                            <p class="dashboard-post-content" v-html="$options.filters.trimLength(post.content)" @click="viewPost(post)"></p>
                            <ul class="dashboard-post-nav-items">
                                <li class="dashboard-post-nav-item">
                                    <a @click="viewPost(post)">
                                        <div class="dashboard-post-comment-icon"></div> {{ post.comments }}
                                    </a>
                                </li>
                                <li class="dashboard-post-nav-item">
                                    <a @click="likePost(post.id, post.likes)">
                                        <div class="dashboard-post-like-icon" :class="{ liked: post.liked }"></div> {{ post.likes }}
                                    </a>
                                </li>
                                <li class="dashboard-post-nav-item">
                                    <a @click="viewPost(post)">
                                        view full post
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div v-else>
                        <p class="dashboard-no-results">
                            There are currently no posts
                        </p>
                    </div>
                </div>
                <!-- post modal -->
                <transition name="fade">
                    <div v-if="showFullPost" class="full-post">
                        <div class="full-post-container">
                            <a @click="closePost" class="full-post-close">x</a>
                            <div class="full-post-content">
                                <div class="dashboard-post">
                                    <div class="dashboard-post-info">
                                        <p class="dashboard-post-author">
                                            {{ fullPost.userName }}
                                        </p>
                                        <p class="dashboard-post-date">
                                            {{ fullPost.createdOn | formatDate }}
                                        </p>
                                    </div>
                                    <p class="dashboard-post-content" v-html="fullPost.content" v-linkified></p>
                                </div>
                                <div v-show="postComments.length" class="full-post-comments">
                                    <div v-for="comment in postComments" class="full-post-comment" :class="{ 'author-comment' : comment.userId === currentUser.uid }">
                                        <div class="full-post-comment-avatar" :style="{ backgroundImage: `url('${comment.avatar? comment.avatar: avatarUrl}')` }"></div>
                                        <div class="full-post-comment-content">
                                            <div class="full-post-comment-info">
                                                <p class="full-post-comment-author">
                                                    {{comment.post}}
                                                    {{comment.userName}}
                                                </p>
                                                <p class="full-post-comment-date">
                                                    {{ comment.createdOn | formatDate }}
                                                </p>
                                            </div>
                                            <p class="full-post-comment-text">
                                                {{ comment.content }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- add comment -->
                            <div v-if="showCommentModal" class="add-comment">
                                <div class="add-comment-container">
                                    <form class="add-comment-form" @submit.prevent>
                                        <textarea class="add-comment-textarea" v-model.trim="comment.content" placeholder="Comment.."></textarea>
                                        <button @click="addComment" :disabled="comment.content == ''" class="add-comment-button button">
                                            Add comment
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
  import firebase from 'firebase'
  import { mapState } from 'vuex'
  import moment from 'moment'
  import linkify from 'vue-linkify'
  const fb = require('../firebaseConfig.js')
  // Create a root reference
  var storageRef = firebase.storage().ref();


  export default {
    data() {
      return {
        avatarUrl: 'static/blank-avatar.jpg',
        post: {
          content: '',
        },
        comment: {
          post: [],
          postId: '',
          userId: '',
          content: '',
          postComments: 0
        },
        showCommentModal: false,
        showFullPost: false,
        fullPost: {},
        postComments: []
      }
    },
    computed: {
      getUserTitle: function() {
        if(this.userProfile.company) {
          return this.userProfile.title + ' at ' + this.userProfile.company
        } else {
          return this.userProfile.title
        }
      },
      ...mapState(['userProfile', 'currentUser', 'posts', 'hiddenPosts']),
    },
    methods: {
      createPost() {
        this.$store.commit('showLoader')
        fb.postsCollection.add({
          createdOn: new Date(),
          content: this.post.content,
          userId: this.currentUser.uid,
          userName: this.userProfile.name,
          comments: 0,
          likes: 0,
          processingLike: false
        }).then(ref => {
          this.$store.commit('hideLoader')
          this.post.content = ''
        }).catch(err => {
          this.$store.commit('hideLoader')
          console.log(err)
        })
      },
      showNewPosts() {
        let updatedPostsArray = this.hiddenPosts.concat(this.posts)
        //clear hidden posts array and update posts array
        this.$store.commit('setHiddenPosts', null)
        this.$store.commit('setPosts', updatedPostsArray)
      },
      addComment() {
        this.$store.commit('showLoader')
        let postId = this.comment.postId
        let postComments = this.comment.postComments
        fb.commentsCollection.add({
          createdOn: new Date(),
          content: this.comment.content,
          postId: postId,
          userId: this.currentUser.uid,
          userName: this.userProfile.name,
          avatar: this.userProfile.avatar
        }).then(doc => {
          fb.postsCollection.doc(postId).update({
            comments: postComments + 1
          }).then(() => {
            this.comment.content = ''
            this.$store.commit('hideLoader');
            this.closePost();
            this.viewPost(this.comment.post);
          })
        }).catch(err => {
          this.$store.commit('hideLoader')
          console.log(err)
        })
      },
      likePost(postId, postLikes) {
        let docId = `${this.currentUser.uid}_${postId}`

        fb.likesCollection.doc(docId).get().then(doc => {
          if (this.processingLike === true) {
            return;
          } else {
            this.processingLike = true
            if (doc.exists) {
              fb.likesCollection.doc(docId).delete().then(()=> {
                // update post likes
                fb.postsCollection.doc(postId).update({
                  likes: postLikes - 1,
                  liked: false
                }).then(()=>{
                    this.processingLike = false
                })
              }).catch((error)=> {
                this.processingLike = false
                console.error("Error removing document: ", error);
              });
            } else {
              fb.likesCollection.doc(docId).set({
                postId: postId,
                userId: this.currentUser.uid
              }).then(() => {
                // update post likes
                fb.postsCollection.doc(postId).update({
                  likes: postLikes + 1,
                  liked: true
                }).then(()=>{
                    this.processingLike = false
                })
              })
            }
          }

        }).catch(err => {
          this.processingLike = false
          console.log(err)
        })
      },
      viewPost(post) {
        this.$store.commit('showLoader')
        this.comment.post = post
        this.comment.postId = post.id
        this.comment.userId = post.userId
        this.comment.postComments = post.comments
        this.showCommentModal = true
        fb.commentsCollection.orderBy('createdOn', 'asc').where('postId', '==', post.id).get().then(docs => {
          let commentsArray = []

          docs.forEach(doc => {
            let comment = doc.data()
            comment.id = doc.id
            commentsArray.push(comment)
          })

          this.postComments = commentsArray
          this.fullPost = post
          this.showFullPost = true
          this.$store.commit('hideLoader')
        }).catch(err => {
          this.$store.commit('hideLoader')
          console.log(err)
        })
      },
      closePost() {
        this.postComments = []
        this.showFullPost = false
        this.comment.postId = ''
        this.comment.userId = ''
        this.comment.content = ''
        this.showCommentModal = false
      }
    },
    filters: {
      formatDate(val) {
        if (!val) { return '-' }
        let date = val.toDate()
        return moment(date).fromNow()
      },
      trimLength(val) {
        if (val.length < 200) {
          return val
        }
        return `${val.substring(0, 200)}...`
      }
    },
    directives: {
      linkified: linkify
    }
  }
</script>
