<template>
    <transition name="fade">
        <div class="loader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </transition>
</template>



<script>
  import { mapState } from 'vuex'

  export default {
    data() {
      return {

      }
    },
    computed: {
      ...mapState(['userProfile', 'showLoader'])
    },
  }
</script>
