<template>
    <div>
        <div class="login">
            <div class="login-content">
                <div class="login-content-column login-content-column-left">
                    <img src="../assets/images/logo-icon-white.png" alt="" class="login-content-logo">
                    <h1>
                        Vuegram
                    </h1>
                    <p>
                        Welcome to Vuegram
                    </p>
                </div>
                <div class="login-content-column login-content-column-right" :class="{ 'signup-form': !showLoginForm }">
                    <!--login form-->
                    <form v-if="showLoginForm" @submit.prevent>
                        <h1 class="login-title">
                            Welcome Back
                        </h1>
                        <input type="text" placeholder="E-mail address" id="email1" v-model="loginForm.email"/>
                        <input type="password" placeholder="Password" id="password1" v-model="loginForm.password"/>
                        <button @click="login" class="button login-button">
                            Log In
                        </button>
                        <button @click="facebookLogin" class="button facebook-login-button">
                            Sign in with Facebook
                        </button>
                        <div class="login-extras">
                            <a class="login-extras-link" @click="togglePasswordReset">
                                Forgot Password
                            </a>
                            <a class="login-extras-link" @click="toggleForm">
                                Create an Account
                            </a>
                        </div>
                    </form>
                    <!--singup form-->
                    <form v-if="!showLoginForm && !showForgotPasswordForm" @submit.prevent>
                        <h1 class="login-title">
                            Get Started
                        </h1>
                        <input v-model.trim="signupForm.name" type="text" placeholder="Name" id="name"/>
                        <input v-model.trim="signupForm.company" type="text" placeholder="Company" id="title"/>
                        <input v-model.trim="signupForm.title" type="text" placeholder="Job title" id="jobtitle"/>
                        <input v-model.trim="signupForm.email" type="text" placeholder="E-mail address" id="email2"/>
                        <input v-model.trim="signupForm.password" type="password" placeholder="Password"
                               id="password2"/>
                        <button @click="signup" class="login-button button">
                            Sign Up
                        </button>
                        <div class="extras">
                            <a @click="toggleForm">Back to Log In</a>
                        </div>
                    </form>
                    <form v-if="showForgotPasswordForm" @submit.prevent class="password-reset">
                        <div v-if="!passwordResetSuccess">
                            <h1 class="login-title">
                                Reset Password
                            </h1>
                            <p>We will send you an email to reset your password</p>
                            <input v-model.trim="forgotPasswordForm.email" type="text" placeholder="E-mail address"
                                   id="email3"/>
                            <button @click="resetPassword" class="login-button button">
                                Submit
                            </button>
                            <div class="login-extras">
                                <a class="login-extras-link" @click="togglePasswordReset">
                                    Back to Log In
                                </a>
                            </div>
                        </div>
                        <div v-else>
                            <h1>
                                Email Sent
                            </h1>
                            <p>
                                Check your email for a link to reset your password
                            </p>
                            <div class="login-extras">
                                <button @click="togglePasswordReset" class="login-button button">
                                    Back to login
                                </button>
                            </div>
                        </div>
                    </form>
                    <transition name="fade">
                        <div v-if="errorMsg !== ''" class="error-msg">
                            <p>{{ errorMsg }}</p>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import firebase from 'firebase'

  const fb = require('../firebaseConfig.js')

  export default {
    data () {
      return {
        loginForm: {
          email: '',
          password: ''
        },
        signupForm: {
          name: '',
          company: '',
          title: '',
          email: '',
          password: ''
        },
        forgotPasswordForm: {
          email: ''
        },
        showLoginForm: true,
        showForgotPasswordForm: false,
        passwordResetSuccess: false,
        errorMsg: ''
      }
    },
    methods: {
      login () {
        this.$store.commit('showLoader')
        fb.auth.signInWithEmailAndPassword(this.loginForm.email, this.loginForm.password).then(user => {
          this.$store.commit('setCurrentUser', user.user)
          this.$store.dispatch('fetchUserProfile')
          this.$router.push('/dashboard')
          this.$store.commit('hideLoader')
          console.log(user.user)
        }).catch(err => {
          console.log(err)
          this.$store.commit('hideLoader')
          this.errorMsg = err.message
        })
      },
      signup () {
        this.$store.commit('showLoader')
        fb.auth.createUserWithEmailAndPassword(this.signupForm.email, this.signupForm.password).then(user => {
          this.$store.commit('setCurrentUser', user.user)

          // create user obj
          fb.usersCollection.doc(user.user.uid).set({
            name: this.signupForm.name,
            company: this.signupForm.company,
            title: this.signupForm.title,
            avatar: 'https://firebasestorage.googleapis.com/v0/b/vuegram-cb914.appspot.com/o/blank-avatar.jpg?alt=media&token=6decf663-7473-4442-9f40-475ba64b8900',
          }).then(() => {
            this.$store.dispatch('fetchUserProfile')
            this.$store.commit('hideLoader')
            this.$router.push('/dashboard')
          }).catch(err => {
            console.log(err)
            this.$store.commit('hideLoader')
            this.errorMsg = err.message
          })
        }).catch(err => {
          console.log(err)
          this.$store.commit('hideLoader')
          this.errorMsg = err.message
        })
      },
      facebookLogin () {
        var provider = new firebase.auth.FacebookAuthProvider()
        fb.auth.signInWithPopup(provider).then(result => {
          // The signed-in user info.
          var user = result.user
          // if new user
          if (result.additionalUserInfo.isNewUser === true) {
            console.log('new')
            fb.usersCollection.doc(user.uid).set({
              name: user.displayName,
              avatar: 'https://firebasestorage.googleapis.com/v0/b/vuegram-cb914.appspot.com/o/blank-avatar.jpg?alt=media&token=6decf663-7473-4442-9f40-475ba64b8900',
              title: '',
              company: ''
            })
            this.$store.commit('setCurrentUser', user)
            this.$store.dispatch('fetchUserProfile')
            this.$store.commit('hideLoader')
            this.$router.push('/dashboard')
          }
          //if existing user
          else {
            this.$store.commit('setCurrentUser', user)
            this.$store.dispatch('fetchUserProfile')
            this.$store.commit('hideLoader')
            this.$router.push('/dashboard')
          }
        }).catch(err => {
          console.log(err)
          this.$store.commit('hideLoader')
          this.errorMsg = err.message
        })
      },
      toggleForm () {
        this.showLoginForm = !this.showLoginForm
        this.errorMsg = ''
      },
      togglePasswordReset () {
        this.errorMsg = ''
        if (this.showForgotPasswordForm) {
          this.showLoginForm = true
          this.showForgotPasswordForm = false
          this.passwordResetSuccess = false
        } else {
          this.showLoginForm = false
          this.showForgotPasswordForm = true
        }
      },
      resetPassword () {
        this.$store.commit('showLoader')
        fb.auth.sendPasswordResetEmail(this.forgotPasswordForm.email).then(() => {
          this.$store.commit('hideLoader')
          this.passwordResetSuccess = true
          this.forgotPasswordForm.email = ''
          this.errorMsg = ''

        }).catch(err => {
          console.log(err)
          this.$store.commit('hideLoader')
          this.errorMsg = err.message
        })
      }
    }
  }
</script>
