<template>
    <nav class="nav">
        <div class="container">
            <div class="nav-content">
                <router-link to="dashboard" class="nav-logo-link">
                    <img class="nav-logo" src="../assets/images/logo-horizontal.png" alt="">
                </router-link>
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <router-link to="dashboard">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="nav-list-item">
                        <router-link to="settings">
                            Settings
                        </router-link>
                    </li>
                    <li class="nav-list-item">
                        <a @click="logout">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
  const fb = require('../firebaseConfig.js')

  export default {
    methods: {
      logout() {
        fb.auth.signOut().then(() => {
          this.$store.dispatch('clearData')
          this.$router.push('/login')
        }).catch(err => {
          console.log(err)
        })
      }
    }
  }
</script>
