<template>
    <div class="settings">
        <div class="container">
            <div class="settings-header">
                <h3>Settings</h3>
                <p>Update your profile</p>
            </div>

            <form @submit.prevent class="settings-form">
                <div class="settings-form-content">
                    <div class="settings-form-column">
                        <label for="company">
                            Company
                        </label>
                        <input v-model.trim="company" type="text" :placeholder="userProfile.company" id="company" />

                        <label for="title">
                            Job Title
                        </label>
                        <input v-model.trim="title" value="" type="text" :placeholder="userProfile.title" id="title" />
                    </div>
                    <div class="settings-form-column">
                        <label for="title">
                            Avatar
                        </label>
                        <label class="file-select">
                            <div class="button">
                                <span v-if="value">Selected File: {{value.name}}</span>
                                <span v-else>Select File</span>
                            </div>
                            <input type="file" @change="handleFileChange"/>
                        </label>
                        <div class="preview">
                            <div class="preview-image" :style="{ backgroundImage: `url('${fileUrlBlob? fileUrlBlob: this.userProfile.avatar}')` }"></div>

                        </div>
                    </div>
                </div>

                <button @click="updateProfile" class="settings-button button">Update Profile</button>

                <transition name="fade">
                    <p v-if="showSuccess" class="success">
                        Profile updated
                    </p>
                </transition>
            </form>
        </div>
    </div>
</template>



<script>
  import firebase from 'firebase'
  import { mapState } from 'vuex'

  // Create a root reference
  var storageRef = firebase.storage().ref();

  export default {
    data() {
      return {
        company: '',
        title: '',
        fileUrl: '',
        fileUrlBlob: '',
        avatarUrl: '',
        showSuccess: false
      }
    },
    props: {
      value: File
    },
    computed: {
      ...mapState(['userProfile', 'showLoader'])
    },
    methods: {
      handleFileChange (e) {
        // this.$emit('input', e.target.files[0]);
        const file = e.target.files[0];
        this.fileUrl = file;
        this.fileUrlBlob = URL.createObjectURL(file);
      },
      updateProfile () {
        let file = this.fileUrl;
        let fileName = file.name;
        var metadata = {
          contentType: 'image/jpeg',
        };
        this.$store.commit('showLoader');
        if(file) {
          storageRef = firebase.storage().ref('avatars/' + this.userProfile.name);
          storageRef.put(file, metadata)
            .then(snapshot => {
              return snapshot.ref.getDownloadURL();
            })
            .then(downloadURL => {
              console.log(`Successfully uploaded file and got download link - ${downloadURL}`);
              this.avatarUrl = downloadURL;
              this.$store.dispatch('updateProfile', {
                company: this.company !== '' ? this.company : this.userProfile.company,
                title: this.title !== '' ? this.title : this.userProfile.title,
                avatar: downloadURL
              })
              this.company = ''
              this.title = ''
              this.showSuccess = true
              this.$store.commit('hideLoader');
              setTimeout(() => {
                this.showSuccess = false
              }, 3000)
            })
            .catch(error => {
              this.$store.commit('hideLoader');
              console.log(`Failed to upload file and get link - ${error}`);
            });
        } else {
          this.$store.dispatch('updateProfile', {
            company: this.company !== '' ? this.company : this.userProfile.company,
            title: this.title !== '' ? this.title : this.userProfile.title,
            avatar: this.userProfile.avatar
          })
          this.company = ''
          this.title = ''
          this.showSuccess = true
          this.$store.commit('hideLoader');
          setTimeout(() => {
            this.showSuccess = false
          }, 3000)
        }
      }
    }
  }
</script>
