<template>
  <div id="app">
    <Navigation v-if="currentUser"></Navigation>
    <router-view/>
    <Loader v-if="showLoader"></Loader>
  </div>
</template>

<script>
import Navigation from './components/Navigation'
import Loader from './components/Loader'
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['currentUser', 'showLoader'])
  },
  components: {
    Navigation, Loader
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
